body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FCF9F9;
  margin: 0;
  padding: 0;
  color: #2f2f2f;
  line-height: 1.8;
}

header {
  background-color: #e0e0e0;
  padding: 20px 40px;
  text-align: center;
}

main {
  padding: 20px;
}

section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #c94c4c;
  margin-top: 40px;
  text-align: center;
}

.full-image {
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}

#start {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #fff1e6;
  padding: 20px;
  border-radius: 12px;
}

#start p {
  flex: 1;
  font-size: 17px;
  color: #333;
  max-width: 600px;
  text-align: justify;
}

.designers-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

.designer {
  width: 300px;
}

.designer-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.clothing-item {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  background-color: #fdf0f5;
  padding: 20px;
  border-radius: 10px;
}

.clothing-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.clothing-info {
  flex: 1;
  font-size: 18px;
  color: #2e2e2e;
  text-align: justify;
}

footer {
  background-color: #e0e0e0;
  padding: 20px;
  text-align: center;
  color: #444;
  margin-top: 50px;
}
